<html>
<head>
<meta charset="UTF-8" />
<link href="images/icon.ico" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="js/jquery/easyui/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="js/jquery/easyui/themes/icon.css">
<link href="css/index.css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/https.js"></script>
<script type="text/javascript" src="js/wechat.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>   
  <div style="border: 1px solid black;width:370px;float: left;">
    <table>
      <tr>
        <td>创建菜单</td>
        <td>
          <textarea rows="5" cols="30" id="createMenuText">
{
  "button":[{  
    "type":"click",
    "name":"今日歌曲",
    "key":"V1001_TODAY_MUSIC"
  },{
    "name":"菜单",
    "sub_button":[{
       "type":"view",
       "name":"搜索",
       "url":"http://www.yooge.xin/hygger/wechatpush/menuclick"
    },{
         "type":"miniprogram",
         "name":"wxa",
         "url":"http://mp.weixin.qq.com",
         "appid":"wx286b93c14bbf93aa",
         "pagepath":"pages/lunar/index"
     },{
       "type":"click",
       "name":"赞一下我们",
       "key":"V1001_GOOD"
    }]
  }]
}
          </textarea>
        </td>
      </tr>
      <tr>
        <td><input type="button" value="创建"
          onclick="index.menu.create()" /></td>
        <td></td>
      </tr>
    </table>
  </div>
    
    
    
  <div style="border: 1px solid black;width:80px;float: left;">  
    <table>
      <tr>
        <td><input type="button" value="全部删除"
          onclick="index.menu.delete()" /></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div style="border: 1px solid black;width:370px;float: left;">  
    <table style="width:370px;">
      <tr>
        <td><input type="button" value="查询"
          onclick="index.menu.get()" /></td>
      </tr>
      <tr>
        <td id="menuGetText"></td>
      </tr>
    </table>
  </div>
  <div id="wxmenuConsole" style="width:100%;"></div>
</body>
</html>