<html>
<head>
<meta charset="UTF-8" />
<link href="images/icon.ico" rel="shortcut icon"/>
<link href="css/index.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
	<div>
		<table>
			<tr>
				<td>AppID</td>
				<td><input class="width300" id="appid" value="wx1089e8cbd29c7312"/></td>
			</tr>
			<tr>
				<td>AppSecret</td>
				<td><input class="width300" id="appsecret"
					value="3ebc86a9c435559da61cc50a859c82f5" /></td>
			</tr>
			<tr>
				<td>access_token</td>
				<td><input class="width300" id="accesstoken" value="" /></td>
			</tr>
			<tr>
				<td>expires_in</td>
				<td><input class="width300" id="expiresin" value="" /></td>
			</tr>
			<tr>
				<td><input type="button" value="获取"
					onclick="index.getAccessToken()" /></td>
				<td></td>
			</tr>

		</table>
	</div>

</body>
</html>