<html>
<head>
<meta charset="UTF-8" />
<link href="images/icon.ico" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="js/jquery/easyui/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="js/jquery/easyui/themes/icon.css">
<link href="css/index.css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/https.js"></script>
<script type="text/javascript" src="js/wechat.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body id="hygge_index" class="easyui-layout">   
    <div data-options="region:'north',border:false,noheader:true" style="height:100px;">
      <img alt="" src="images/head.jpg" width="100%" height="100%"/>
    </div>   
    <div data-options="region:'west',split:true,href:'menu'" style="width:150px;"></div>   
    <div data-options="region:'center',noheader:true"></div>   
    <div data-options="region:'south',noheader:true" style="height:40px;text-align: center;background-color: rgb(198,225,252);">
      <div style="margin-top:10px;font-weight: 100">Copyright ©2017 Jasper</div>
    </div>   
	<!--
  
    <div style="border: 1px solid black;">
        <table>
            <tr>
              <td><input type="button" value="获取IP"
                onclick="index.getcallbackip()" /></td>
              <td></td>
            </tr>
        </table>
    </div>
    <div style="border: 1px solid black;">
        <table>
            <tr>
              <td><input type="button" value="创建菜单"
                onclick="index.menu.create()" /></td>
              <td></td>
            </tr>
        </table>
    </div>
    <div style="position: absolute;bottom: 0px;">
      <textarea id="console" rows="10" cols="100"></textarea>
    </div> -->
</body>
</html>