<html>
<head>
<meta charset="UTF-8"/>
<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
	<div>
		<table>
			<tr>
				<td>AppID</td><td><input id="appid" value="wx1089e8cbd29c7312"/></td>
			</tr>
			<tr>
				<td>AppSecret</td><td><input id="appsecret" value="3ebc86a9c435559da61cc50a859c82f5"/></td>
			</tr>
			<tr>
				<td>access_token</td><td><input id="accesstoken" value=""/></td>
			</tr>
			<tr>
				<td><input type="button" value="获取" onclick="index.getAccessToken()"/></td><td></td>
			</tr>
			
		</table>
	</div>
	<script type="text/javascript" src="js/jquery/1.9.1.min.js"></script>
</body>
</html>